//# Import Fonts
//-> Pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

//# Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

//# Components
@import "./components/footer.scss";
@import "./components/footer.scss";
@import "./components/forms.scss";
@import "./components/header.scss";
@import "./components/shared.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
@import "./components/video.scss";
@import "./components/errorMsg.scss";

//# Screens
@import "./screens/home.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/search.scss";
@import "./screens/upload.scss";
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/edit.scss";
@import "./screens/change-password.scss";
@import "./screens/watch.scss";

//# Defaults
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Pretendard';
    background-color: $bg;
    color: $text;
}

main {
    margin: 0px 30px;
}