.profile-info-page-division {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 25%;

        img {
            border-radius: 50%;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 2px;
            color: white;
            background: none;
            padding: 3px 3px 3px 0px;
            margin-top: 5px;
        }
    }    

    .profile-videos {
        width: 48.5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}