.search {
    form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    
        input {
            all:unset;
            padding: 6px 0px;
            text-align: center;
            border-radius: 9px;
            font-size: 13px;
            font-weight: 450;
            color: white;
            background-color: rgba(20, 20, 20, 0.85);
        }
    
        input[type="submit"] {
            all:unset;
            padding: 6px 10px;
            text-align: center;
            background-color: cornflowerblue;
            color: white;
            font-size: 13px;
            font-weight: 450;
            cursor: pointer;
            border-radius: 9px;
            transition: opacity linear .1s;
            height: 15px;
            margin-left: 7px;
        }
    }
    .search-results {
        gap: 7px;
    }
}