.upload-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
	.record-preview {
		width: 500px;
        position: relative;

		video {
            border-radius: 20px;
			width: 100%;
		}

        button {
            all:unset;
            margin: 0px 80px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 25px;
            padding: 10px 0px;
            border-radius: 9px;
            color: white;
            text-align: center;
            font-size: 13px;
            font-weight: 450;
            height: 15px;
            cursor: pointer;
            background-color: cornflowerblue;
        }
	}

	.upload {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 500px;
        margin-top: 10px;

		.upload__left {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 25%;

			form {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

                .onelabel {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: -8px;
                    
                    input {
                        height: auto;
                    }

                    label {
                        width: 70px;
                        font-weight: 400;
                        font-size: 13.5px;
                        color: rgb(152, 154, 166);
                        margin-bottom: 0px;
                        padding-right: 10px;
                    }
                }


				input[type="file"]::-webkit-file-upload-button {
					all: unset;
					padding: 6px 10px;
					text-align: center;
					background-color: cornflowerblue;
					color: white;
					font-size: 13px;
					font-weight: 450;
					cursor: pointer;
					border-radius: 9px;
					transition: opacity linear 0.1s;
					height: 15px;
					margin-right: 7px;
				}

				input {
					all: unset;
					padding: 6px 0px;
					text-align: center;
					border-radius: 9px;
					font-size: 13px;
					font-weight: 450;
					color: white;
					background-color: rgba(20, 20, 20, 0.85);
				}

				input[type="file"] {
					all: unset;
					padding: 6px 0px;
					text-align: center;
					border-radius: 9px;
					font-size: 13px;
					font-weight: 450;
					text-align: start;
					background-color: none;
					margin-bottom: 7px;
				}

				input[type="text"] {
					all: unset;
					text-align: center;
					border-radius: 9px;
					font-size: 13px;
					font-weight: 450;
					text-align: start;
					background-color: none;
				}

				input[type="submit"] {
					all: unset;
					padding: 6px 10px;
					text-align: center;
					background-color: cornflowerblue;
					color: white;
					font-size: 13px;
					font-weight: 450;
					cursor: pointer;
					border-radius: 9px;
					transition: opacity linear 0.1s;
					height: 15px;
					margin-top: 20px;
				}

				input[name="title"] {
                    width: 500px;
                    margin-top: 10px;
					font-weight: 600;
					font-size: 30px;
				}

				input[name="hashtags"] {
                    width: 500px;
					color: rgb(126, 128, 138);
                    margin-top: 3px;
					display: flex;
					font-weight: 400;
					font-size: 11px;
				}

				input[name="description"] {
                    width: 500px;
                    margin-top: 7px;
					font-weight: 300;
					font-size: 17px;
				}
			}
		}
	}
}
