extends base.pug
include mixins/video.pug

block content
    img(src="https://avatars.githubusercontent.com/u/114299780?s=400&u=98e39a127035f3b3f767db43e8b9abf7a761f6a8&v=4")
    .mainbox
        .video-list
            each item in videos 
                +video(item)
            else
                li No videos are found.
        .advertisement
            .advertisement__align 
                h1 Show your amazing moments!
                span Your moments needs to be appreciated.