extends base.pug
include mixins/video.pug

block content 
    .search
        form(method="GET")
            input(placeholder="Search by title", name="keyword", type="text")
            input(type="submit", value="Search now")
        
        .search-results
            each video in videos 
                +video(video)